# Package Files #
*.jar
*.war
*.ear
*.obj
*.tlog
*.vcxproj
*.vcxproj.filters

*/target
/bin
*/Debug

*.log.*
*.log
/.classpath
/.project
.settings/

*.idea*
*.project
*.iml

*.class
/*/.classpath

*/react_forms/node_modules
react_forms/node_modules
*/react_forms/dist

/target/

python_django/media
python_django/static

